<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
  </head>
  <body>
    <h1>Todo List</h1>
    <ul>
      {% for task in tasks %}
         <li>{{task}}</li>
      {% endfor %}
   </ul>
   <div >
    <form action="{% url 'todolist:index' %}" method="POST">
      {% csrf_token %}
      {{form}}
      <button type="submit" name="button">Submit</button>
    </form>
    <form action="{% url 'todolist:clear' %}" method="POST">
      <button type="submit" name="clear">clear</button>
    </form>
    
      
   </div>
    
  </body>
</html>